@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', serif;
}
.chat {
    width: 75%;
    background-color: #9daaff;
    border-radius: 15px;
    box-shadow: 0 0 5px #000;
    margin: 10px auto 100px;
}
/*Header*/
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 1px solid black;
}
/*Messages*/
.message-list {
    padding: 20px;
    height: calc(100vh - 240px);
    overflow: auto;
}
.message {
    display: flex;
    max-width: 50%;
    background-color: #8594fd;
    border-radius: 15px;
    box-shadow: 0 0 5px #000;
    margin-top: 20px;
    padding: 10px;
}
.user-info {
    margin-right: 15px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.message-user-name {
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.message-container {
    position: relative;
    width: 100%;
}
.message-text {
    padding-bottom: 20px;
}
.message-container svg {
    position: absolute;
    bottom: 0;
}
.message-container svg:hover {
    cursor: pointer;
}
.message-time {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.7;
}
.own-message {
    margin-left: 50%;
    max-width: 50%;
    background-color: #8594fd;
    border-radius: 15px;
    box-shadow: 0 0 5px #000;
    margin-top: 20px;
    padding: 10px;
}
.message-edit {
    margin-left: 25px;
}
.message-like path {
    fill: black;
}
.message-liked path {
    fill: red;
}
/*Message Input*/
.message-input {
    margin-left: -20px;
    position: fixed;
    z-index: 100;
    width: calc(75% - 100px);
    top: calc(100vh - 110px);
    padding: 15px 50px;
    background-color: #8594fd;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
}
.input-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message-input-text {
    height: 50px;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    resize: none;
}
.message-input-button {
    height: 35px;
    width: 10%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    outline: none;
}
.message-input-button:hover {
    cursor: pointer;
}
.editPostMarker {
    display: block;
    opacity: 0;
    font-size: 12px;
}

/*Divider*/
.messages-divider {
    margin: 30px 0;
    display: flex;
    text-align: center;
    align-items: center;
    white-space: nowrap;
}
.line {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 0 15px;
}

/*Preloader*/
.lds-roller {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 100px 0;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
